# ==============================
# Dataset
# ==============================
data/
*.png

*.jpeg

# ==============================
# Model files
# ==============================
*.h5
*.pt
*.pth

# ==============================
# Virtual Environment
# ==============================
venv/
venv310/
.env/

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc

# ==============================
# System files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/
